@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .mb-nav {
    margin-bottom: calc(4rem + env(safe-area-inset-bottom));
  }
}
